// Here you can add other styles
.cardBody_orders{
    padding:'0px !important'
}
.tableCard{
    border:1px solid #000000 !important
}

.total_card {
    border-top:1px solid #000 !important
}
.customer_order{
    border-bottom:1px solid #000 !important;
}
.appept_btn{
    border-radius: 15px !important;
    color: #FFF !important;
}
.white_bt{
    color: #FFF !important;
}
.mg_auto{
    margin:auto !important
}